Repository alex-castelo/fe-mentor-todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, vitest related --run

.lintstagedrc.json:

{
  "**/*.{js,jsx}": ["eslint", "prettier --write"],
  "*.css": "prettier --write",
  "**/*.spec.{js,jsx}": "vitest related --run"
}

set up lint staged to run tests
  .lintstagedrc.json
Due: none

add more unit tests
  src/components/TodoInput/TodoInput.spec.jsx
  src/components/TodoItem/TodoItem.spec.jsx
  src/components/TodoItem/_components/CrossIcon.jsx
Due: eslint, prettier --write, vitest related --run

fix lighthouse suggerencies
  src/components/ThemeButton/ThemeButton.jsx
  src/components/TodoItem/TodoItem.jsx
  src/components/TodoList/_components/FilterButtons/FilterButtons.jsx
  src/layouts/PageLayout/PageLayout.jsx
Due: eslint, prettier --write

delete unnecessary div
  src/App.jsx
Due: eslint, prettier --write

Update readme
  README.md
  img/todo-desktop-dark.png
  img/todo-desktop-light.png
  img/todo-mobile-dark.png
  img/todo-mobile-light.png
Due: none

test
  README.md
Due: none

test 2
  README.md
Due: none

Polish presentation
  README.md
Due: none

polish again
  README.md
Due: none

create script to deploy
  deploy.sh
Due: none

deploy
  assets/bg-desktop-light-SHSqJE5_.jpg
  assets/bg-mobile-dark-wYWT7q5N.jpg
  assets/bg-mobile-light-Hl0x4VD1.jpg
  assets/index-MMRVHgAq.js
  assets/index-o1R8SOMn.css
  index.html
Due: eslint, prettier --write

update project base url
  vite.config.mjs
Due: none

deploy
  assets/index-lt1xrP6A.js
  index.html
Due: eslint, prettier --write

Add live site URL
  README.md
Due: none

set a default todos if todos length is zero
  src/views/Home/Home.jsx
Due: eslint, prettier --write

deploy
  assets/index-Ene4kyXg.js
  assets/index-lt1xrP6A.js
  index.html
Due: eslint, prettier --write
